API_ID= 28673741
API_HASH= 2817c0d75c94d7bdc9eea5e3f22228cd
BOT_TOKEN= 6287636338:AAHvjEo13wBjqK7EnninjlSlBOYDtkwigug
LOG_GROUP_ID=-1001861990174
MONGO_DB_URI= mongodb+srv://Lisa:Lisa@lisa.r1bgylg.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=Music_Reaper_bot
OWNER_ID=2116442644
STRING_SESSION=BQBlhxRAJ9G0nrat6Fnmdf1uCOr_bDqGmHq54DNjfqJIx7hlfxwCt3g2-sj_-nnw2e1Yn2dcn7f2S-GkO4sumxepS1vi4BHIVawHcrarYF3GWs-yoqlmZVYURpmPnT1FxrqLJxBCq5RIbINddFZQ5zSedbXnDb7wR7jV9i2Ep8awiAitxDL0upTsUyXN7-6m-XDHLXal9B7p004fBONTDkUOa9xgiQmZcUJKq7PpinZWJfD85gB7yctGi9Dwvy1JrmColVzf8ceS2ip9ekQQHDTufFvJO1S75iIMLYeyYmmoMduyx79dL9bn3WcIuDrRfISahhdoCcA2P3XOdenx6UV7MOtxCQA
